@font-face {
    font-family: 'Iceberg';
    src: url(Iceberg-Regular.woff2) format('woff2'),
        url(Iceberg-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    font-family: Iceberg, serif;
    /* legacy ie10 */
    -ms-overflow-style: none;
    /* firefox  */
    scrollbar-width: none;
}
/* chrome */
*::-webkit-scrollbar {
  display: none;
}

body {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(img/cuisine.png);
    background-size: cover;          
    background-repeat: no-repeat;    
    background-position: center;     
    background-attachment: fixed;
}



nav {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 12px;
}

nav button {
    font-size: 1.3rem;
    padding: 2px 8px 2px 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    transition: transform 0.3s ease;
    min-width: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

nav button img {
    height: 1em;
    width: auto;
    vertical-align: middle;
}

nav button:hover {
    transform: scale(0.75);
}

#content {
    height: auto;
    min-height: 88vh;
    width: min(90%, 900px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-top: 24px;
    gap: 18px;
    padding: 8px;
    margin-bottom: 18px;
}

#content:hover {
    transform: scale(1.02);
}

.title {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    width: 75%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: auto;
    transition: transform 0.3s ease;
}

.title:hover {
    transform: scale(0.95);
}

.title h1 {
  padding: 1em;
  word-wrap: break-word;
}

.summary,
.history,
.mapo,
.tonkatsu,
.salmon,
.delivery,
.tel,
.address,
.mail {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    width: 75%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: auto;
    transition: transform 0.3s ease;
}

.summary:hover,
.history:hover,
.mapo:hover,
.tonkatsu:hover,
.salmon:hover,
.delivery:hover,
.tel:hover,
.address:hover,
.mail:hover {
    transform: scale(0.95);
}

.mapo h2,
.tonkatsu h2,
.salmon h2,
.delivery h2,
.tel h2,
.address h2,
.mail h2 {
    text-align: center;
    padding: 1em;
    padding-left: 0;
}

.summary p,
.history p,
.mapo p,
.tonkatsu p,
.salmon p,
.delivery p,
.tel p,
.address p,
.mail p {
  padding: 1em;
  word-wrap: break-word;
  font-size: 1.1rem;
}

.mapoDivCon,
.tonkatsuDivCon,
.salmonDivCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mapoDivCon img,
.tonkatsuDivCon img,
.salmonDivCon img {
    flex: 1;
    width: 50%;
    margin: 1em;
    border-radius: 10px;
}

.deliveryDivCon,
.telDivCon,
.adDivCon,
.mailDivCon {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.deliveryDivCon img,
.telDivCon img,
.adDivCon img,
.mailDivCon img {
    height: 1.5em;
    width: auto;
    vertical-align: middle;
}

@media (max-width: 768px) {
  .mapoDivCon,
  .tonkatsuDivCon,
  .salmonDivCon {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
  }

  .mapoDivCon img,
  .tonkatsuDivCon img,
  .salmonDivCon img {
      width: 100%;
      margin: 0.5em 0;
      border-radius: 10px;
  }

  .mapoDivCon p,
  .tonkatsuDivCon p,
  .salmonDivCon p {
      text-align: center;
      padding: 0 1em;
  }
}

