@font-face {
  font-family: 'vakalo';
  src: url(./VakaloLandingPages-Regular.woff2) format('woff2'),
    url(./VakaloLandingPages-Regular.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: vakalo;
}

body {
    box-sizing: border-box;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rebeccapurple;
}

nav button {
    font-size: 1.3rem;
    padding: 2px 8px 2px 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: transform 0.3s ease;

}

nav button:hover {
    transform: scale(0.75);
}

#content {
    height: 90vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    border: 6px solid red;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-top: 24px;
}

#content:hover {
    transform: scale(1.05);
}

.title {
    border: 3px solid red;
    border-radius: 10px;
    width: 75%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: auto;
}

.title h1 {
  padding: 1em;
  word-wrap: break-word;
}

.summary {
    border: 3px solid red;
    border-radius: 10px;
    width: 75%;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: auto;
}

.summary p {
  padding: 1em;
  word-wrap: break-word;
}

.history {
  border: 3px solid red;
  border-radius: 10px;
  width: 75%;
  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: auto;
}

.history p {
  padding: 1em;
  word-wrap: break-word;
}
